flows.json
[{"id":"591d29dd.0674d","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a5c380dd.45f92","type":"debug","z":"591d29dd.0674d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":40,"wires":[]},{"id":"1624948e.d3f3d3","type":"ui_form","z":"591d29dd.0674d","name":"","label":"","group":"46901408.954eac","order":0,"width":"0","height":"0","options":[{"label":"Enter here","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":180,"wires":[["cc34dd51.417038"]]},{"id":"a37d7385.6cf69","type":"ui_text","z":"591d29dd.0674d","group":"46901408.954eac","order":0,"width":"0","height":"0","name":"","label":"Customer","format":"{{msg.payload}}","layout":"col-center","x":240,"y":380,"wires":[]},{"id":"cc34dd51.417038","type":"function","z":"591d29dd.0674d","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":260,"wires":[["a37d7385.6cf69","d10bf15a.398c6"]]},{"id":"d10bf15a.398c6","type":"watson-conversation-v1","z":"591d29dd.0674d","name":"Customer Help Desk [Chatbot]","workspaceid":"01632676-03e4-46d8-8ef4-71b3a1b0a817","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/fded9cab-6fcb-42f0-b0e9-c122e5bb3fdb","timeout":"","optout-learning":false,"x":390,"y":100,"wires":[["a5c380dd.45f92","655d8c68.4fea44"]]},{"id":"655d8c68.4fea44","type":"function","z":"591d29dd.0674d","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["8ca9003d.0c6648"]]},{"id":"8ca9003d.0c6648","type":"ui_text","z":"591d29dd.0674d","group":"b52176c4.49a848","order":1,"width":"4","height":"5","name":"","label":"Chatbot","format":"{{msg.payload}}","layout":"col-center","x":650,"y":360,"wires":[]},{"id":"46901408.954eac","type":"ui_group","z":"","name":"Ask me something","tab":"43a8eb36.ea85a4","order":1,"disp":true,"width":"4","collapse":true},{"id":"b52176c4.49a848","type":"ui_group","z":"","name":"Output","tab":"43a8eb36.ea85a4","order":2,"disp":true,"width":"5","collapse":false},{"id":"43a8eb36.ea85a4","type":"ui_tab","z":"","name":"Doctor Help","icon":"dashboard","disabled":false,"hidden":false}]